[Unit]
Description=Node Exporter

[Service]
User={{ node_exporter_default_user_name }}
Group={{ node_exporter_default_group_name }}
ExecStart={{ node_exporter_install_dir }}/node_exporter

[Install]
WantedBy=multi-user.target
