http:
  middlewares:
    node-exporter-replacepath:
      replacePath:
        path: "/metrics"
  services:
    node-exporter:
      loadBalancer:
        servers:
        - url: "http://{{ ansible_facts['docker0']['ipv4']['address'] }}:9100"
  routers:
    node-exporter:
      rule: "Host(`{{ node_exporter_domain }}`) && Path(`{{ node_exporter_domain_path }}`)"
{% if node_exporter_https == "enabled" %}
      tls:
        certResolver: le-resolver
{% endif %}
      middlewares:
      - node-exporter-replacepath
      service: node-exporter
