version: "3"

networks:
  traefik-proxy:
    external: true

services:
  app:
    image: {{ prometheus_app_docker_image }}
    networks:
      - traefik-proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.prometheus.rule=Host(`{{ prometheus_domain }}`)
{% if prometheus_https == "enabled" %}
      - traefik.http.routers.prometheus.entrypoints=https
      - traefik.http.routers.prometheus.tls=true
      - traefik.http.routers.prometheus.tls.certresolver=le-resolver
{% else %}
      - traefik.http.routers.prometheus.entrypoints=http
{% endif %}
      - traefik.http.services.prometheus.loadbalancer.server.port=9090
    restart: unless-stopped
    volumes:
      - /mnt/{{ hostname }}-volume/prometheus/app/etc/prometheus:/etc/prometheus
