AWS_ACCESS_KEY_ID={{ mattermost_wal_g_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ mattermost_wal_g_aws_secret_access_key }}
WALG_S3_PREFIX={{ mattermost_wal_g_s3_prefix }}
AWS_ENDPOINT=https://tbalthazar-mattermost-wal-g.local.s3.fr-par.scw.cloud