AWS_ACCESS_KEY_ID={{ mattermost_wal_g_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ mattermost_wal_g_aws_secret_access_key }}
WALG_S3_PREFIX={{ mattermost_wal_g_s3_prefix }}
{% if mattermost_object_storage_endpoint is defined %}
AWS_ENDPOINT={{ mattermost_object_storage_endpoint }}
{% endif %}
{% if mattermost_object_storage_region is defined %}
AWS_REGION={{ mattermost_object_storage_region }}
{% endif %}