log:
  level: {{ traefik_log_level }}
  filePath: /var/log/traefik/traefik.log

accessLog:
  filePath: /var/log/traefik/access.log

serversTransport:
  insecureSkipVerify: true

entryPoints:
  web:
    address: ":80"
{% if traefik_force_https_redirect == "enabled" %}
    # redirect all http traffic to https
    http:
      redirections:
        entryPoint:
          to: "websecure"
{% endif %}
  websecure:
    address: ":443"

api:
  dashboard: true
  insecure: true

providers:
  file:
    directory: "/etc/traefik/providers"
    watch: true

certificatesResolvers:
  myresolver:
    acme:
      storage: /etc/traefik/acme/acme.json
      email: {{ traefik_le_email }}
{% if traefik_le_env|default("staging") !="production" %}
      # staging server, comment for using default prod server
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
{% endif %}
      dnsChallenge:
        provider: cloudflare
