version: '3.7'

networks:
  traefik-proxy:
    external: true
services:
  traefik:
    image: traefik:{{ traefik_docker_image_tag }}
    networks:
      - traefik-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "127.0.0.1:8080:8080"
    volumes:
      - /mnt/{{ hostname }}-volume/traefik/config:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/log/traefik:/var/log