http:
  services:
{% for service in traefik_services: %}
    {{ service.name }}:
      loadBalancer:
        servers:
{% for server in service.servers: %}
        - url: "{{ server.url }}"
{% endfor %}
{% endfor %}

  routers:
{% for router in traefik_routers: %}
    {{ router.name }}:
      rule: "{{ router.rule }}"
      service: {{ router.service }}
      tls:
        certresolver: myresolver
        domains:
        - main: "{{ router.main_domain }}"
{% endfor %}
