NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_domain }}
TRUSTED_PROXIES=172.19.0.0/16

{% if nextcloud_https == "enabled" %}
OVERWRITEPROTOCOL=https
{% else %}
OVERWRITEPROTOCOL=http
{% endif %}

REDIS_HOST=redis
REDIS_HOST_PASSWORD={{ nextcloud_redis_password }}

{% if nextcloud_main_storage_s3 == "enabled" %}
{% if nextcloud_s3_host is defined %}
OBJECTSTORE_S3_HOST={{ nextcloud_s3_host }}
{% endif %}
OBJECTSTORE_S3_REGION={{ nextcloud_s3_region }}
OBJECTSTORE_S3_BUCKET={{ nextcloud_s3_bucket }}
OBJECTSTORE_S3_KEY={{ nextcloud_s3_key }}
OBJECTSTORE_S3_SECRET={{ nextcloud_s3_secret }}
OBJECTSTORE_S3_PORT={{ nextcloud_s3_port }}
OBJECTSTORE_S3_SSL={{ nextcloud_s3_ssl }}
OBJECTSTORE_S3_USEPATH_STYLE={{ nextcloud_s3_usepath_style }}
{% endif %}

{% if nextcloud_smtp == "enabled" %}
SMTP_HOST={{ nextcloud_smtp_server }}
SMTP_SECURE=ssl
SMTP_PORT={{ nextcloud_smtp_port }}
SMTP_AUTHTYPE=LOGIN
SMTP_NAME={{ nextcloud_smtp_username }}
SMTP_PASSWORD={{ nextcloud_smtp_password }}
MAIL_FROM_ADDRESS={{ nextcloud_smtp_from_email }}
MAIL_DOMAIN={{ nextcloud_smtp_from_domain }}
{% endif %}
