version: "3"

networks:
  traefik-proxy:
    external: true
  db-network:
    internal: true

services:
  redis:
    image: redis:alpine
    command: redis-server --requirepass {{ nextcloud_redis_password }}
    networks:
      - db-network
    restart: unless-stopped
  db:
    image: postgres:{{ nextcloud_db_docker_image_tag }}
    networks:
      - db-network
    restart: unless-stopped
    volumes:
      - /mnt/{{ hostname }}-volume/nextcloud/db/var/lib/postgresql/data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - db.env
  app:
    depends_on:
      - db
      - redis
    image: nextcloud:{{ nextcloud_docker_image_tag }}
    networks:
      - traefik-proxy
      - db-network
    labels:
      - "traefik.enable=true"
      - traefik.http.routers.nextcloud.rule=Host(`{{ nextcloud_domain }}`)
{% if nextcloud_https|default("disabled") == "enabled" %}
      - traefik.http.routers.nextcloud.middlewares=nextcloud,nextcloud_redirect
      - traefik.http.middlewares.nextcloud.headers.stsSeconds=155520011
      - traefik.http.routers.nextcloud.entrypoints=https
      - traefik.http.routers.nextcloud.tls=true
      - traefik.http.routers.nextcloud.tls.certresolver=le-resolver
{% else %}
      - traefik.http.routers.nextcloud.middlewares=nextcloud_redirect
      - traefik.http.routers.nextcloud.entrypoints=http
{% endif %}
      - traefik.http.middlewares.nextcloud_redirect.redirectregex.regex=/.well-known/(card|cal)dav
      - traefik.http.middlewares.nextcloud_redirect.redirectregex.replacement=/remote.php/dav/
      - traefik.http.services.nextcloud.loadbalancer.server.port=80
    restart: unless-stopped
    volumes:
      - /mnt/{{ hostname }}-volume/nextcloud/data:/var/www/html
    env_file:
      - app.env
      - db.env
  cron:
    image: nextcloud:{{ nextcloud_docker_image_tag }}
    networks:
      - traefik-proxy
      - db-network
    restart: always
    volumes:
      - /mnt/{{ hostname }}-volume/nextcloud/data:/var/www/html
    env_file:
      - app.env
      - db.env
    entrypoint: /cron.sh
    depends_on:
      - db
      - redis