AWS_ACCESS_KEY_ID={{ nextcloud_wal_g_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ nextcloud_wal_g_aws_secret_access_key }}
WALG_S3_PREFIX={{ nextcloud_wal_g_s3_prefix }}
{% if nextcloud_s3_host is defined %}
AWS_ENDPOINT={{ nextcloud_s3_host }}
{% endif %}
{% if nextcloud_s3_region is defined %}
AWS_REGION={{ nextcloud_s3_region }}
{% endif %}
