global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
  # - "first.rules"
  # - "second.rules"

scrape_configs:
{% for job in prometheus_jobs: %}
- job_name: {{ job.job_name }}
{% if job.metrics_path is defined %}
  metrics_path: '{{ job.metrics_path }}'
{% endif %}
  static_configs: 
{% for config in job.static_configs: %}
  - targets: 
{% for target in config.targets: %}
    - '{{ target }}'
{% endfor %}
{% endfor %}
{% endfor %}
